In [313]:
import importlib
import pandas as pd
import numpy as np
import account as acc

In [314]:
importlib.reload(acc)

In [315]:
#### INPUT BASIC DATA ####
mtrt = 26 #개월
prd_prjt = 24 #개월(프로젝트 기간)
repay_rate = 0.8 #상환비율(매출 발생금액 중 상환계좌 이체 비율)
#### INPUT BASIC DATA ####

In [316]:
#### INPUT SALES DATA ####
# Initial sales data
prdtA_amt = 90_000.000
prdtA = acc.account(title="ProductA", tag=("ProductA", "-"), mtrt=mtrt,
                         add_scdd_ipt=pd.Series([prdtA_amt], index=[0]),
                         sub_scdd_ipt=pd.Series(np.array([0.1, 0.2, 0.2, 0.5])* prdtA_amt, index=[1, 9, 17, 24]),
                         note="-")
prdtA.addamt(0, prdtA.add_rsdl(0))

prdtB_amt = 50_000.000
prdtB = acc.account(title="ProductB", tag=("ProductB", "-"), mtrt=mtrt,
                         add_scdd_ipt=pd.Series([prdtB_amt], index=[0]),
                         sub_scdd_ipt=pd.Series(np.array([0.1, 0.2, 0.2, 0.5])* prdtB_amt, index=[1, 9, 17, 24]),
                         note="-")
prdtB.addamt(0, prdtB.add_rsdl(0))

sales = acc.merge({'prdtA':prdtA, 'prdtB':prdtB})

# Scenario of sales
sales.dct['prdtA'].sub_exctn([1, 3, 4, 7, 9, 10, 12, 14, 16, 17], [0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1])
sales.dct['prdtB'].sub_exctn([0, 2, 4, 8, 9, 14, 18, 19, 22, 23], [0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1])
sales_rate = (sales.df.amt_sub / sales.df.add_scdd_cum).replace(np.nan, 0.0)
#### INPUT SALES DATA ####

In [317]:
#### INPUT COST DATA ####
# Scenario of cost
prcs_rate = pd.Series(np.ones(prd_prjt) * 1/prd_prjt, index=np.arange(1, prd_prjt+1)) # 공정률

# Initial cost data
costA_amt = 30_000.000 # 최초 1회 고정비 지급
costA = acc.account(title="costA", tag=("costA", "-"), mtrt=mtrt,
                    add_scdd_ipt = pd.Series([costA_amt], index=[0]),
                    note="-")

costB_amt = 40_000.000 # 공정률에 따라 지급
costB = acc.account(title="costB", tag=("costB", "-"), mtrt=mtrt,
                    add_scdd_ipt = costB_amt * prcs_rate,
                    note="-")

costC_amt = 30_000.000 # 분양률에 따라 지급
costC = acc.account(title="costC", tag=("costC", "-"), mtrt=mtrt,
                    add_scdd_ipt = costC_amt * sales_rate,
                    note="-")

dct = {'costA':costA, 'costB':costB, 'costC':costC}
cost = acc.merge(dct)
#### INPUT COST DATA ####

In [318]:
#### INPUT LOAN DATA ####
loanA = acc.Loan(title="loanA", tag=("loanA", "-"), mtrt=mtrt,
                 ntnl=70_000.000, rate=0.05, note="-")
loanB = acc.Loan(title="loanA", tag=("loanA", "-"), mtrt=mtrt,
                 ntnl=30_000.000, rate=0.07, note="-")
#### INPUT LOAN DATA ####

In [319]:
#### CASH FLOW ####
# Make accounts
acc_repay = acc.account(title="Repayment Account", tag=("account", "repayment"), mtrt=mtrt, note="")
acc_oprtg = acc.account(title="Operating Account", tag=("account", "operating"), mtrt=mtrt, note="")
# acc_ovrdrft = acc.account(title="Overdraft Account", tag=("account", "overdraft"), mtrt=mtrt, note="")

# Make Cash Flow
for idx in acc_oprtg.df.index:
    #### Sales generation ####
    sales_amt = sales.df.loc[idx, 'amt_sub']
    sales_rate = sales_amt / sales.df.loc[idx, 'add_scdd_cum'] if sales.df.loc[idx, 'add_scdd_cum'] != 0 else 0.0
    
    acc_repay.addamt(idx, sales_amt * repay_rate, note="repay_rate of sales_amt")
    acc_oprtg.addamt(idx, sales_amt * (1 - repay_rate), note="pay_rate of sales_amt")
    #### Sales generation ####
    
    #### Transfer amount on repayment account to operating account ####
    amt_trsfr_A = min(acc_repay.bal_end(idx), loanA.amt.df.loc[idx, 'sub_rsdl_cum'])
                  # min(balance on repayment account, amt withdrawable)
    acc_repay.subamt(idx, amt_trsfr_A, note="transfer to operating account") # repayment account decrease
    acc_oprtg.addamt(idx, amt_trsfr_A, note="transfered from repayment account") # operating account increase
    loanA.amt.subscdd(idx, -amt_trsfr_A) # reduce scheduled loan amount
    
    if loanA.is_repaid(idx) is True:
        amt_trsfr_B = min(acc_repay.bal_end(idx), loanB.amt.df.loc[idx, 'sub_rsdl_cum']) 
                      # min(balance on repayment account, amt withdrawable)
        acc_repay.subamt(idx, amt_trsfr_B, note="transfer to operating account") # repayment account decrease
        acc_oprtg.addamt(idx, amt_trsfr_B, note="transfered from repayment account") # operating account increase
        loanB.amt.subscdd(idx, -amt_trsfr_B) # reduce scheduled loan amount
        
        if loanB.is_repaid(idx) is True:
            amt_trsfr_bal = acc_repay.bal_end(idx)
            acc_repay.subamt(idx, amt_trsfr_bal, note="transfer balance to operating account")
            acc_oprtg.addamt(idx, amt_trsfr_bal, note="transfer balance of repayment account")
    #### Transfer amount on repayment account to operating account ####
    
    #### Estimate financial cost amount ####
    # IR to pay amount
    IR_amt_A = loanA.amt.amt_sub_cum(idx) * loanA.rate / 12
    IR_amt_B = loanB.amt.amt_sub_cum(idx) * loanB.rate / 12
    loanA.IR.addscdd(idx, IR_amt_A)
    loanB.IR.addscdd(idx, IR_amt_B)
    IR_amt_ttl = IR_amt_A + IR_amt_B
    #### Estimate financial cost amount ####
    
    #### Estimate operating cost amount ####
    costA_tmp = cost.dct['costA'].add_rsdl(idx)
    costB_tmp = cost.dct['costB'].add_rsdl(idx)
    costC_tmp = cost.dct['costC'].add_rsdl(idx)
    cost_amt_ttl = costA_tmp + costB_tmp + costC_tmp
    #### Estimate operating cost amount ####
    
    #### Estimate short to pay and pay loan ####
    ttlamt_topay = IR_amt_ttl + cost_amt_ttl # amount to pay
    short_amt = ttlamt_topay - acc_oprtg.bal_end(idx) # amount to short
    
    tmpamt_rqrd = 0
    if short_amt > 0:
        payamt_min = 1_000
        tmpamt_rqrd = np.ceil(short_amt / payamt_min) * payamt_min
        
        # withdraw Tr.B loan amount
        tmpamt_topay = min(loanB.amt.df.loc[idx, 'sub_rsdl_cum'], tmpamt_rqrd)
        tmpamt_rqrd -= tmpamt_topay
        loanB.amt.subamt(idx, tmpamt_topay, note="withdraw loan B") # withdraw loan B
        acc_oprtg.addamt(idx, tmpamt_topay, note="withdraw loan B") # transfer to operating account
        
        # withdraw Tr.A loan amount
        tmpamt_topay = min(loanA.amt.df.loc[idx, 'sub_rsdl_cum'], tmpamt_rqrd)
        tmpamt_rqrd -= tmpamt_topay
        loanA.amt.subamt(idx, tmpamt_topay, note="withdraw loan A") # withdraw loan A
        acc_oprtg.addamt(idx, tmpamt_topay, note="withdraw loan A") # transfer to operating account
    #### Estimate short to pay and pay loan ####
    
    #### Pay financial cost ####
    amt_repay_A = loanA.IR.add_rsdl(idx)
    acc_oprtg.subamt(idx, amt_repay_A, note="repay IR on loan A")
    loanA.IR.addamt(idx, amt_repay_A)
    
    amt_repay_B = loanB.IR.add_rsdl(idx)
    acc_oprtg.subamt(idx, amt_repay_B, note="repay IR on loan B")
    loanB.IR.addamt(idx, amt_repay_B)
    #### Pay financial cost ####
    
    #### Pay operating cost ####
    amt_pay_costA = cost.dct['costA'].add_rsdl(idx)
    acc_oprtg.subamt(idx, amt_pay_costA, note="pay costA")
    cost.dct['costA'].addamt(idx, amt_pay_costA)
    
    amt_pay_costB = cost.dct['costB'].add_rsdl(idx)
    acc_oprtg.subamt(idx, amt_pay_costB, note="pay costB")
    cost.dct['costB'].addamt(idx, amt_pay_costB)
    
    amt_pay_costC = cost.dct['costC'].add_rsdl(idx)
    acc_oprtg.subamt(idx, amt_pay_costC, note="pay costC")
    cost.dct['costC'].addamt(idx, amt_pay_costC)
    #### Pay operating cost ####
    
    #### Repay notional amount ####
    # repay loan A from repayment account
    loan_repay_A = min(acc_repay.bal_end(idx), loanA.loan_rsdl(idx))
    acc_repay.subamt(idx, loan_repay_A, note="repay loan A from repayment account")
    loanA.amt.addamt(idx, loan_repay_A, note="repay loan from repayment account")
    
    if loanA.is_repaid(idx) is True:
        # repay loan B from repayment account
        loan_repay_B = min(acc_repay.bal_end(idx), loanB.loan_rsdl(idx))
        acc_repay.subamt(idx, loan_repay_B, note="repay loan B from repayment account")
        loanB.amt.addamt(idx, loan_repay_B, note="repay loan from repayment account")
    
    repayamt_min = 10_000
    if acc_oprtg.bal_end(idx) > repayamt_min:
        # repay loan A from operating account
        loan_repay_A = min(acc_oprtg.bal_end(idx), loanA.loan_rsdl(idx))
        acc_oprtg.subamt(idx, loan_repay_A, note="repay loan A from operating account")
        loanA.amt.addamt(idx, loan_repay_A, note="repay loan from operating account")
        
        if loanA.is_repaid(idx) is True:
            # repay loan B from operating account
            loan_repay_B = min(acc_oprtg.bal_end(idx), loanB.loan_rsdl(idx))
            acc_oprtg.subamt(idx, loan_repay_B, note="repay loan B from operating account")
            loanB.amt.addamt(idx, loan_repay_B, note="repay loan from operating account")
    
    #### Repay notional amount ####
#### CASH FLOW ####

In [320]:
acc_oprtg.df

,add_scdd,add_scdd_cum,sub_scdd,sub_scdd_cum,bal_strt,amt_add,amt_add_cum,amt_sub,amt_sub_cum,bal_end,add_rsdl_cum,sub_rsdl_cum
-1,0.0,0.0,0.0,0.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
0,0.0,0.0,0.0,0.0,0.000000e+00,30000.000000,30000.000000,30000.000000,30000.000000,0.000000e+00,-30000.000000,-30000.000000
1,0.0,0.0,0.0,0.0,0.000000e+00,2400.000000,32400.000000,2141.666667,32141.666667,2.583333e+02,-32400.000000,-32141.666667
2,0.0,0.0,0.0,0.0,2.583333e+02,2500.000000,34900.000000,1952.976190,34094.642857,8.053571e+02,-34900.000000,-34094.642857
3,0.0,0.0,0.0,0.0,8.053571e+02,1900.000000,36800.000000,2047.023810,36141.666667,6.583333e+02,-36800.000000,-36141.666667
4,0.0,0.0,0.0,0.0,6.583333e+02,2400.000000,39200.000000,2158.333333,38300.000000,9.000000e+02,-39200.000000,-38300.000000
5,0.0,0.0,0.0,0.0,9.000000e+02,1000.000000,40200.000000,1862.500000,40162.500000,3.750000e+01,-40200.000000,-40162.500000
6,0.0,0.0,0.0,0.0,3.750000e+01,2000.000000,42200.000000,1866.666667,42029.166667,1.708333e+02,-42200.000000,-42029.166667
7,0.0,0.0,0.0,0.0,1.708333e+02,1900.000000,44100.000000,2067.857143,44097.023810,2.976190e+00,-44100.000000,-44097.023810
8,0.0,0.0,0.0,0.0,2.976190e+00,2500.000000,46600.000000,1986.309524,46083.333333,5.166667e+02,-46600.000000,-46083.333333
9,0.0,0.0,0.0,0.0,5.166667e+02,15400.000000,62000.000000,15916.666667,62000.000000,-1.818989e-12,-62000.000000,-62000.000000
10,0.0,0.0,0.0,0.0,-1.818989e-12,2700.000000,64700.000000,2466.071429,64466.071429,2.339286e+02,-64700.000000,-64466.071429
11,0.0,0.0,0.0,0.0,2.339286e+02,2000.000000,66700.000000,1887.500000,66353.571429,3.464286e+02,-66700.000000,-66353.571429
12,0.0,0.0,0.0,0.0,3.464286e+02,2700.000000,69400.000000,2474.404762,68827.976190,5.720238e+02,-69400.000000,-68827.976190
13,0.0,0.0,0.0,0.0,5.720238e+02,2000.000000,71400.000000,1895.833333,70723.809524,6.761905e+02,-71400.000000,-70723.809524
14,0.0,0.0,0.0,0.0,6.761905e+02,4200.000000,75600.000000,2804.166667,73527.976190,2.072024e+03,-75600.000000,-73527.976190
15,0.0,0.0,0.0,0.0,2.072024e+03,0.000000,75600.000000,1904.166667,75432.142857,1.678571e+02,-75600.000000,-75432.142857
16,0.0,0.0,0.0,0.0,1.678571e+02,2700.000000,78300.000000,2482.738095,77914.880952,3.851190e+02,-78300.000000,-77914.880952
17,0.0,0.0,0.0,0.0,3.851190e+02,26700.000000,105000.000000,11896.428571,89811.309524,1.518869e+04,-105000.000000,-89811.309524
18,0.0,0.0,0.0,0.0,1.518869e+04,2500.000000,107500.000000,2439.880952,92251.190476,1.524881e+04,-107500.000000,-92251.190476
19,0.0,0.0,0.0,0.0,1.524881e+04,2500.000000,110000.000000,2439.880952,94691.071429,1.530893e+04,-110000.000000,-94691.071429
20,0.0,0.0,0.0,0.0,1.530893e+04,0.000000,110000.000000,1904.166667,96595.238095,1.340476e+04,-110000.000000,-96595.238095
21,0.0,0.0,0.0,0.0,1.340476e+04,0.000000,110000.000000,1904.166667,98499.404762,1.150060e+04,-110000.000000,-98499.404762
22,0.0,0.0,0.0,0.0,1.150060e+04,2500.000000,112500.000000,2439.880952,100939.285714,1.156071e+04,-112500.000000,-100939.285714
23,0.0,0.0,0.0,0.0,1.156071e+04,1500.000000,114000.000000,13060.714286,114000.000000,0.000000e+00,-114000.000000,-114000.000000
24,0.0,0.0,0.0,0.0,0.000000e+00,14000.000000,128000.000000,16904.166667,130904.166667,-2.904167e+03,-128000.000000,-130904.166667
25,0.0,0.0,0.0,0.0,-2.904167e+03,37620.833333,165620.833333,237.500000,131141.666667,3.447917e+04,-165620.833333,-131141.666667
26,0.0,0.0,0.0,0.0,3.447917e+04,0.000000,165620.833333,237.500000,131379.166667,3.424167e+04,-165620.833333,-131379.166667

In [321]:
acc_repay.df

,add_scdd,add_scdd_cum,sub_scdd,sub_scdd_cum,bal_strt,amt_add,amt_add_cum,amt_sub,amt_sub_cum,bal_end,add_rsdl_cum,sub_rsdl_cum
-1,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000
1,0.0,0.0,0.0,0.0,0.000000,1120.0,1120.0,1120.000000,1120.000000,0.000000,-1120.0,-1120.000000
2,0.0,0.0,0.0,0.0,0.000000,400.0,1520.0,400.000000,1520.000000,0.000000,-1520.0,-1520.000000
3,0.0,0.0,0.0,0.0,0.000000,720.0,2240.0,720.000000,2240.000000,0.000000,-2240.0,-2240.000000
4,0.0,0.0,0.0,0.0,0.000000,1120.0,3360.0,1120.000000,3360.000000,0.000000,-3360.0,-3360.000000
5,0.0,0.0,0.0,0.0,0.000000,0.0,3360.0,0.000000,3360.000000,0.000000,-3360.0,-3360.000000
6,0.0,0.0,0.0,0.0,0.000000,0.0,3360.0,0.000000,3360.000000,0.000000,-3360.0,-3360.000000
7,0.0,0.0,0.0,0.0,0.000000,720.0,4080.0,720.000000,4080.000000,0.000000,-4080.0,-4080.000000
8,0.0,0.0,0.0,0.0,0.000000,400.0,4480.0,400.000000,4480.000000,0.000000,-4480.0,-4480.000000
9,0.0,0.0,0.0,0.0,0.000000,12320.0,16800.0,12320.000000,16800.000000,0.000000,-16800.0,-16800.000000
10,0.0,0.0,0.0,0.0,0.000000,2160.0,18960.0,2160.000000,18960.000000,0.000000,-18960.0,-18960.000000
11,0.0,0.0,0.0,0.0,0.000000,0.0,18960.0,0.000000,18960.000000,0.000000,-18960.0,-18960.000000
12,0.0,0.0,0.0,0.0,0.000000,2160.0,21120.0,2160.000000,21120.000000,0.000000,-21120.0,-21120.000000
13,0.0,0.0,0.0,0.0,0.000000,0.0,21120.0,0.000000,21120.000000,0.000000,-21120.0,-21120.000000
14,0.0,0.0,0.0,0.0,0.000000,3360.0,24480.0,3360.000000,24480.000000,0.000000,-24480.0,-24480.000000
15,0.0,0.0,0.0,0.0,0.000000,0.0,24480.0,0.000000,24480.000000,0.000000,-24480.0,-24480.000000
16,0.0,0.0,0.0,0.0,0.000000,2160.0,26640.0,2160.000000,26640.000000,0.000000,-26640.0,-26640.000000
17,0.0,0.0,0.0,0.0,0.000000,21360.0,48000.0,21360.000000,48000.000000,0.000000,-48000.0,-48000.000000
18,0.0,0.0,0.0,0.0,0.000000,2000.0,50000.0,2000.000000,50000.000000,0.000000,-50000.0,-50000.000000
19,0.0,0.0,0.0,0.0,0.000000,2000.0,52000.0,2000.000000,52000.000000,0.000000,-52000.0,-52000.000000
20,0.0,0.0,0.0,0.0,0.000000,0.0,52000.0,0.000000,52000.000000,0.000000,-52000.0,-52000.000000
21,0.0,0.0,0.0,0.0,0.000000,0.0,52000.0,0.000000,52000.000000,0.000000,-52000.0,-52000.000000
22,0.0,0.0,0.0,0.0,0.000000,2000.0,54000.0,2000.000000,54000.000000,0.000000,-54000.0,-54000.000000
23,0.0,0.0,0.0,0.0,0.000000,2000.0,56000.0,2000.000000,56000.000000,0.000000,-56000.0,-56000.000000
24,0.0,0.0,0.0,0.0,0.000000,56000.0,112000.0,18379.166667,74379.166667,37620.833333,-112000.0,-74379.166667
25,0.0,0.0,0.0,0.0,37620.833333,0.0,112000.0,37620.833333,112000.000000,0.000000,-112000.0,-112000.000000
26,0.0,0.0,0.0,0.0,0.000000,0.0,112000.0,0.000000,112000.000000,0.000000,-112000.0,-112000.000000

In [322]:
sales.df

,add_scdd,add_scdd_cum,sub_scdd,sub_scdd_cum,bal_strt,amt_add,amt_add_cum,amt_sub,amt_sub_cum,bal_end,add_rsdl_cum,sub_rsdl_cum
-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,140000.0,140000.0,0.0,0.0,0.0,140000.0,140000.0,0.0,0.0,140000.0,0.0,0.0
1,0.0,140000.0,14000.0,14000.0,140000.0,0.0,140000.0,1400.0,1400.0,138600.0,0.0,12600.0
2,0.0,140000.0,0.0,14000.0,138600.0,0.0,140000.0,500.0,1900.0,138100.0,0.0,12100.0
3,0.0,140000.0,0.0,14000.0,138100.0,0.0,140000.0,900.0,2800.0,137200.0,0.0,11200.0
4,0.0,140000.0,0.0,14000.0,137200.0,0.0,140000.0,1400.0,4200.0,135800.0,0.0,9800.0
5,0.0,140000.0,0.0,14000.0,135800.0,0.0,140000.0,0.0,4200.0,135800.0,0.0,9800.0
6,0.0,140000.0,0.0,14000.0,135800.0,0.0,140000.0,0.0,4200.0,135800.0,0.0,9800.0
7,0.0,140000.0,0.0,14000.0,135800.0,0.0,140000.0,900.0,5100.0,134900.0,0.0,8900.0
8,0.0,140000.0,0.0,14000.0,134900.0,0.0,140000.0,500.0,5600.0,134400.0,0.0,8400.0
9,0.0,140000.0,28000.0,42000.0,134400.0,0.0,140000.0,15400.0,21000.0,119000.0,0.0,21000.0
10,0.0,140000.0,0.0,42000.0,119000.0,0.0,140000.0,2700.0,23700.0,116300.0,0.0,18300.0
11,0.0,140000.0,0.0,42000.0,116300.0,0.0,140000.0,0.0,23700.0,116300.0,0.0,18300.0
12,0.0,140000.0,0.0,42000.0,116300.0,0.0,140000.0,2700.0,26400.0,113600.0,0.0,15600.0
13,0.0,140000.0,0.0,42000.0,113600.0,0.0,140000.0,0.0,26400.0,113600.0,0.0,15600.0
14,0.0,140000.0,0.0,42000.0,113600.0,0.0,140000.0,4200.0,30600.0,109400.0,0.0,11400.0
15,0.0,140000.0,0.0,42000.0,109400.0,0.0,140000.0,0.0,30600.0,109400.0,0.0,11400.0
16,0.0,140000.0,0.0,42000.0,109400.0,0.0,140000.0,2700.0,33300.0,106700.0,0.0,8700.0
17,0.0,140000.0,28000.0,70000.0,106700.0,0.0,140000.0,26700.0,60000.0,80000.0,0.0,10000.0
18,0.0,140000.0,0.0,70000.0,80000.0,0.0,140000.0,2500.0,62500.0,77500.0,0.0,7500.0
19,0.0,140000.0,0.0,70000.0,77500.0,0.0,140000.0,2500.0,65000.0,75000.0,0.0,5000.0
20,0.0,140000.0,0.0,70000.0,75000.0,0.0,140000.0,0.0,65000.0,75000.0,0.0,5000.0
21,0.0,140000.0,0.0,70000.0,75000.0,0.0,140000.0,0.0,65000.0,75000.0,0.0,5000.0
22,0.0,140000.0,0.0,70000.0,75000.0,0.0,140000.0,2500.0,67500.0,72500.0,0.0,2500.0
23,0.0,140000.0,0.0,70000.0,72500.0,0.0,140000.0,2500.0,70000.0,70000.0,0.0,0.0
24,0.0,140000.0,70000.0,140000.0,70000.0,0.0,140000.0,70000.0,140000.0,0.0,0.0,0.0
25,0.0,140000.0,0.0,140000.0,0.0,0.0,140000.0,0.0,140000.0,0.0,0.0,0.0
26,0.0,140000.0,0.0,140000.0,0.0,0.0,140000.0,0.0,140000.0,0.0,0.0,0.0

In [323]:
cost.df

,add_scdd,add_scdd_cum,sub_scdd,sub_scdd_cum,bal_strt,amt_add,amt_add_cum,amt_sub,amt_sub_cum,bal_end,add_rsdl_cum,sub_rsdl_cum
-1,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
0,30000.000000,30000.000000,0.0,0.0,0.000000,30000.000000,30000.000000,0.0,0.0,30000.000000,0.0,0.0
1,1966.666667,31966.666667,0.0,0.0,30000.000000,1966.666667,31966.666667,0.0,0.0,31966.666667,0.0,0.0
2,1773.809524,33740.476190,0.0,0.0,31966.666667,1773.809524,33740.476190,0.0,0.0,33740.476190,0.0,0.0
3,1859.523810,35600.000000,0.0,0.0,33740.476190,1859.523810,35600.000000,0.0,0.0,35600.000000,0.0,0.0
4,1966.666667,37566.666667,0.0,0.0,35600.000000,1966.666667,37566.666667,0.0,0.0,37566.666667,0.0,0.0
5,1666.666667,39233.333333,0.0,0.0,37566.666667,1666.666667,39233.333333,0.0,0.0,39233.333333,0.0,0.0
6,1666.666667,40900.000000,0.0,0.0,39233.333333,1666.666667,40900.000000,0.0,0.0,40900.000000,0.0,0.0
7,1859.523810,42759.523810,0.0,0.0,40900.000000,1859.523810,42759.523810,0.0,0.0,42759.523810,0.0,0.0
8,1773.809524,44533.333333,0.0,0.0,42759.523810,1773.809524,44533.333333,0.0,0.0,44533.333333,0.0,0.0
9,4966.666667,49500.000000,0.0,0.0,44533.333333,4966.666667,49500.000000,0.0,0.0,49500.000000,0.0,0.0
10,2245.238095,51745.238095,0.0,0.0,49500.000000,2245.238095,51745.238095,0.0,0.0,51745.238095,0.0,0.0
11,1666.666667,53411.904762,0.0,0.0,51745.238095,1666.666667,53411.904762,0.0,0.0,53411.904762,0.0,0.0
12,2245.238095,55657.142857,0.0,0.0,53411.904762,2245.238095,55657.142857,0.0,0.0,55657.142857,0.0,0.0
13,1666.666667,57323.809524,0.0,0.0,55657.142857,1666.666667,57323.809524,0.0,0.0,57323.809524,0.0,0.0
14,2566.666667,59890.476190,0.0,0.0,57323.809524,2566.666667,59890.476190,0.0,0.0,59890.476190,0.0,0.0
15,1666.666667,61557.142857,0.0,0.0,59890.476190,1666.666667,61557.142857,0.0,0.0,61557.142857,0.0,0.0
16,2245.238095,63802.380952,0.0,0.0,61557.142857,2245.238095,63802.380952,0.0,0.0,63802.380952,0.0,0.0
17,7388.095238,71190.476190,0.0,0.0,63802.380952,7388.095238,71190.476190,0.0,0.0,71190.476190,0.0,0.0
18,2202.380952,73392.857143,0.0,0.0,71190.476190,2202.380952,73392.857143,0.0,0.0,73392.857143,0.0,0.0
19,2202.380952,75595.238095,0.0,0.0,73392.857143,2202.380952,75595.238095,0.0,0.0,75595.238095,0.0,0.0
20,1666.666667,77261.904762,0.0,0.0,75595.238095,1666.666667,77261.904762,0.0,0.0,77261.904762,0.0,0.0
21,1666.666667,78928.571429,0.0,0.0,77261.904762,1666.666667,78928.571429,0.0,0.0,78928.571429,0.0,0.0
22,2202.380952,81130.952381,0.0,0.0,78928.571429,2202.380952,81130.952381,0.0,0.0,81130.952381,0.0,0.0
23,2202.380952,83333.333333,0.0,0.0,81130.952381,2202.380952,83333.333333,0.0,0.0,83333.333333,0.0,0.0
24,16666.666667,100000.000000,0.0,0.0,83333.333333,16666.666667,100000.000000,0.0,0.0,100000.000000,0.0,0.0
25,0.000000,100000.000000,0.0,0.0,100000.000000,0.000000,100000.000000,0.0,0.0,100000.000000,0.0,0.0
26,0.000000,100000.000000,0.0,0.0,100000.000000,0.000000,100000.000000,0.0,0.0,100000.000000,0.0,0.0

In [324]:
loanA.amt.df

,add_scdd,add_scdd_cum,sub_scdd,sub_scdd_cum,bal_strt,amt_add,amt_add_cum,amt_sub,amt_sub_cum,bal_end,add_rsdl_cum,sub_rsdl_cum
-1,0.0,0.0,0.0,0.0,70000.000000,0.000000,0.000000,0.0,0.0,70000.000000,0.000000,0.0
0,0.0,0.0,70000.0,70000.0,70000.000000,0.000000,0.000000,0.0,0.0,70000.000000,0.000000,70000.0
1,0.0,0.0,-1120.0,68880.0,70000.000000,0.000000,0.000000,1000.0,1000.0,69000.000000,0.000000,67880.0
2,0.0,0.0,-400.0,68480.0,69000.000000,0.000000,0.000000,2000.0,3000.0,67000.000000,0.000000,65480.0
3,0.0,0.0,-720.0,67760.0,67000.000000,0.000000,0.000000,1000.0,4000.0,66000.000000,0.000000,63760.0
4,0.0,0.0,-1120.0,66640.0,66000.000000,0.000000,0.000000,1000.0,5000.0,65000.000000,0.000000,61640.0
5,0.0,0.0,0.0,66640.0,65000.000000,0.000000,0.000000,1000.0,6000.0,64000.000000,0.000000,60640.0
6,0.0,0.0,0.0,66640.0,64000.000000,0.000000,0.000000,2000.0,8000.0,62000.000000,0.000000,58640.0
7,0.0,0.0,-720.0,65920.0,62000.000000,0.000000,0.000000,1000.0,9000.0,61000.000000,0.000000,56920.0
8,0.0,0.0,-400.0,65520.0,61000.000000,0.000000,0.000000,2000.0,11000.0,59000.000000,0.000000,54520.0
9,0.0,0.0,-12320.0,53200.0,59000.000000,10729.166667,10729.166667,0.0,11000.0,69729.166667,-10729.166667,42200.0
10,0.0,0.0,-2160.0,51040.0,69729.166667,0.000000,10729.166667,0.0,11000.0,69729.166667,-10729.166667,40040.0
11,0.0,0.0,0.0,51040.0,69729.166667,0.000000,10729.166667,2000.0,13000.0,67729.166667,-10729.166667,38040.0
12,0.0,0.0,-2160.0,48880.0,67729.166667,0.000000,10729.166667,0.0,13000.0,67729.166667,-10729.166667,35880.0
13,0.0,0.0,0.0,48880.0,67729.166667,0.000000,10729.166667,2000.0,15000.0,65729.166667,-10729.166667,33880.0
14,0.0,0.0,-3360.0,45520.0,65729.166667,0.000000,10729.166667,0.0,15000.0,65729.166667,-10729.166667,30520.0
15,0.0,0.0,0.0,45520.0,65729.166667,0.000000,10729.166667,0.0,15000.0,65729.166667,-10729.166667,30520.0
16,0.0,0.0,-2160.0,43360.0,65729.166667,0.000000,10729.166667,0.0,15000.0,65729.166667,-10729.166667,28360.0
17,0.0,0.0,-21360.0,22000.0,65729.166667,4270.833333,15000.000000,0.0,15000.0,70000.000000,-15000.000000,7000.0
18,0.0,0.0,-2000.0,20000.0,70000.000000,0.000000,15000.000000,0.0,15000.0,70000.000000,-15000.000000,5000.0
19,0.0,0.0,-2000.0,18000.0,70000.000000,0.000000,15000.000000,0.0,15000.0,70000.000000,-15000.000000,3000.0
20,0.0,0.0,0.0,18000.0,70000.000000,0.000000,15000.000000,0.0,15000.0,70000.000000,-15000.000000,3000.0
21,0.0,0.0,0.0,18000.0,70000.000000,0.000000,15000.000000,0.0,15000.0,70000.000000,-15000.000000,3000.0
22,0.0,0.0,-2000.0,16000.0,70000.000000,0.000000,15000.000000,0.0,15000.0,70000.000000,-15000.000000,1000.0
23,0.0,0.0,-1000.0,15000.0,70000.000000,0.000000,15000.000000,0.0,15000.0,70000.000000,-15000.000000,0.0
24,0.0,0.0,0.0,15000.0,70000.000000,0.000000,15000.000000,0.0,15000.0,70000.000000,-15000.000000,0.0
25,0.0,0.0,0.0,15000.0,70000.000000,0.000000,15000.000000,0.0,15000.0,70000.000000,-15000.000000,0.0
26,70000.0,70000.0,0.0,15000.0,70000.000000,0.000000,15000.000000,0.0,15000.0,70000.000000,55000.000000,0.0

In [325]:
loanB.amt.df

,add_scdd,add_scdd_cum,sub_scdd,sub_scdd_cum,bal_strt,amt_add,amt_add_cum,amt_sub,amt_sub_cum,bal_end,add_rsdl_cum,sub_rsdl_cum
-1,0.0,0.0,0.0,0.0,30000.000000,0.000000,0.000000,0.0,0.0,30000.000000,0.000000,0.0
0,0.0,0.0,30000.0,30000.0,30000.000000,0.000000,0.000000,30000.0,30000.0,0.000000,0.000000,0.0
1,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
2,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
3,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
4,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
5,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
6,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
7,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
8,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
9,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
10,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
11,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
12,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
13,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
14,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
15,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
16,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
17,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
18,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
19,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
20,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
21,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
22,0.0,0.0,0.0,30000.0,0.000000,0.000000,0.000000,0.0,30000.0,0.000000,0.000000,0.0
23,0.0,0.0,0.0,30000.0,0.000000,11620.833333,11620.833333,0.0,30000.0,11620.833333,-11620.833333,0.0
24,0.0,0.0,0.0,30000.0,11620.833333,18379.166667,30000.000000,0.0,30000.0,30000.000000,-30000.000000,0.0
25,0.0,0.0,0.0,30000.0,30000.000000,0.000000,30000.000000,0.0,30000.0,30000.000000,-30000.000000,0.0
26,30000.0,30000.0,0.0,30000.0,30000.000000,0.000000,30000.000000,0.0,30000.0,30000.000000,0.000000,0.0

In [328]:
loanA.IR.df

,add_scdd,add_scdd_cum,sub_scdd,sub_scdd_cum,bal_strt,amt_add,amt_add_cum,amt_sub,amt_sub_cum,bal_end,add_rsdl_cum,sub_rsdl_cum
-1,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
1,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
2,4.166667,4.166667,0.0,0.0,0.000000,4.166667,4.166667,0.0,0.0,4.166667,0.0,0.0
3,12.500000,16.666667,0.0,0.0,4.166667,12.500000,16.666667,0.0,0.0,16.666667,0.0,0.0
4,16.666667,33.333333,0.0,0.0,16.666667,16.666667,33.333333,0.0,0.0,33.333333,0.0,0.0
5,20.833333,54.166667,0.0,0.0,33.333333,20.833333,54.166667,0.0,0.0,54.166667,0.0,0.0
6,25.000000,79.166667,0.0,0.0,54.166667,25.000000,79.166667,0.0,0.0,79.166667,0.0,0.0
7,33.333333,112.500000,0.0,0.0,79.166667,33.333333,112.500000,0.0,0.0,112.500000,0.0,0.0
8,37.500000,150.000000,0.0,0.0,112.500000,37.500000,150.000000,0.0,0.0,150.000000,0.0,0.0
9,45.833333,195.833333,0.0,0.0,150.000000,45.833333,195.833333,0.0,0.0,195.833333,0.0,0.0
10,45.833333,241.666667,0.0,0.0,195.833333,45.833333,241.666667,0.0,0.0,241.666667,0.0,0.0
11,45.833333,287.500000,0.0,0.0,241.666667,45.833333,287.500000,0.0,0.0,287.500000,0.0,0.0
12,54.166667,341.666667,0.0,0.0,287.500000,54.166667,341.666667,0.0,0.0,341.666667,0.0,0.0
13,54.166667,395.833333,0.0,0.0,341.666667,54.166667,395.833333,0.0,0.0,395.833333,0.0,0.0
14,62.500000,458.333333,0.0,0.0,395.833333,62.500000,458.333333,0.0,0.0,458.333333,0.0,0.0
15,62.500000,520.833333,0.0,0.0,458.333333,62.500000,520.833333,0.0,0.0,520.833333,0.0,0.0
16,62.500000,583.333333,0.0,0.0,520.833333,62.500000,583.333333,0.0,0.0,583.333333,0.0,0.0
17,62.500000,645.833333,0.0,0.0,583.333333,62.500000,645.833333,0.0,0.0,645.833333,0.0,0.0
18,62.500000,708.333333,0.0,0.0,645.833333,62.500000,708.333333,0.0,0.0,708.333333,0.0,0.0
19,62.500000,770.833333,0.0,0.0,708.333333,62.500000,770.833333,0.0,0.0,770.833333,0.0,0.0
20,62.500000,833.333333,0.0,0.0,770.833333,62.500000,833.333333,0.0,0.0,833.333333,0.0,0.0
21,62.500000,895.833333,0.0,0.0,833.333333,62.500000,895.833333,0.0,0.0,895.833333,0.0,0.0
22,62.500000,958.333333,0.0,0.0,895.833333,62.500000,958.333333,0.0,0.0,958.333333,0.0,0.0
23,62.500000,1020.833333,0.0,0.0,958.333333,62.500000,1020.833333,0.0,0.0,1020.833333,0.0,0.0
24,62.500000,1083.333333,0.0,0.0,1020.833333,62.500000,1083.333333,0.0,0.0,1083.333333,0.0,0.0
25,62.500000,1145.833333,0.0,0.0,1083.333333,62.500000,1145.833333,0.0,0.0,1145.833333,0.0,0.0
26,62.500000,1208.333333,0.0,0.0,1145.833333,62.500000,1208.333333,0.0,0.0,1208.333333,0.0,0.0

In [329]:
loanB.IR.df

,add_scdd,add_scdd_cum,sub_scdd,sub_scdd_cum,bal_strt,amt_add,amt_add_cum,amt_sub,amt_sub_cum,bal_end,add_rsdl_cum,sub_rsdl_cum
-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,175.0,175.0,0.0,0.0,0.0,175.0,175.0,0.0,0.0,175.0,0.0,0.0
2,175.0,350.0,0.0,0.0,175.0,175.0,350.0,0.0,0.0,350.0,0.0,0.0
3,175.0,525.0,0.0,0.0,350.0,175.0,525.0,0.0,0.0,525.0,0.0,0.0
4,175.0,700.0,0.0,0.0,525.0,175.0,700.0,0.0,0.0,700.0,0.0,0.0
5,175.0,875.0,0.0,0.0,700.0,175.0,875.0,0.0,0.0,875.0,0.0,0.0
6,175.0,1050.0,0.0,0.0,875.0,175.0,1050.0,0.0,0.0,1050.0,0.0,0.0
7,175.0,1225.0,0.0,0.0,1050.0,175.0,1225.0,0.0,0.0,1225.0,0.0,0.0
8,175.0,1400.0,0.0,0.0,1225.0,175.0,1400.0,0.0,0.0,1400.0,0.0,0.0
9,175.0,1575.0,0.0,0.0,1400.0,175.0,1575.0,0.0,0.0,1575.0,0.0,0.0
10,175.0,1750.0,0.0,0.0,1575.0,175.0,1750.0,0.0,0.0,1750.0,0.0,0.0
11,175.0,1925.0,0.0,0.0,1750.0,175.0,1925.0,0.0,0.0,1925.0,0.0,0.0
12,175.0,2100.0,0.0,0.0,1925.0,175.0,2100.0,0.0,0.0,2100.0,0.0,0.0
13,175.0,2275.0,0.0,0.0,2100.0,175.0,2275.0,0.0,0.0,2275.0,0.0,0.0
14,175.0,2450.0,0.0,0.0,2275.0,175.0,2450.0,0.0,0.0,2450.0,0.0,0.0
15,175.0,2625.0,0.0,0.0,2450.0,175.0,2625.0,0.0,0.0,2625.0,0.0,0.0
16,175.0,2800.0,0.0,0.0,2625.0,175.0,2800.0,0.0,0.0,2800.0,0.0,0.0
17,175.0,2975.0,0.0,0.0,2800.0,175.0,2975.0,0.0,0.0,2975.0,0.0,0.0
18,175.0,3150.0,0.0,0.0,2975.0,175.0,3150.0,0.0,0.0,3150.0,0.0,0.0
19,175.0,3325.0,0.0,0.0,3150.0,175.0,3325.0,0.0,0.0,3325.0,0.0,0.0
20,175.0,3500.0,0.0,0.0,3325.0,175.0,3500.0,0.0,0.0,3500.0,0.0,0.0
21,175.0,3675.0,0.0,0.0,3500.0,175.0,3675.0,0.0,0.0,3675.0,0.0,0.0
22,175.0,3850.0,0.0,0.0,3675.0,175.0,3850.0,0.0,0.0,3850.0,0.0,0.0
23,175.0,4025.0,0.0,0.0,3850.0,175.0,4025.0,0.0,0.0,4025.0,0.0,0.0
24,175.0,4200.0,0.0,0.0,4025.0,175.0,4200.0,0.0,0.0,4200.0,0.0,0.0
25,175.0,4375.0,0.0,0.0,4200.0,175.0,4375.0,0.0,0.0,4375.0,0.0,0.0
26,175.0,4550.0,0.0,0.0,4375.0,175.0,4550.0,0.0,0.0,4550.0,0.0,0.0